html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(#070b34, #141852, #3c408f);
}

.moon {
  margin: auto;
  width: 40%;
  border-radius: 50%;

  transform: translate(0%, 50%);

  background: radial-gradient(#e6f5fc, #cfddfc);
}

/* after 활용한 달 표현 */
/* https://minhanpark.github.io/today-i-learned/css-responsive-square/ */
.moon:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.kiki {
  background-color: transparent;

  position: relative;
  top: 30%;
  left: 50%;

  animation: float 2s ease-in-out infinite;
}

.kiki img {
  width: 100%;
  transform: scale(0.5);
}

@keyframes float {
  0% {
    transform: translate(-50%, -51%);
  }
  50% {
    transform: translate(-50%, -49%);
  }
  100% {
    transform: translate(-50%, -51%);
  }
}
